<head>
	<link rel="stylesheet" type="text/css" href="tuxmath.css">
</head>

<body>
<table style="width:100%">
	<tbody>
		<tr>
			<th class="header" style="width:50%">TuxMathRevival</th>
			<th class="header" style="width:50%" id="score"></th>
		</tr>
	</tbody>
</table>

	<div>
		<input type="textbox" id="answer"/>
	</div>

	<script type="text/template" id="equation-template">
		<div class="equation" style="left: <%= left %>" value="<%= value %>"><%= expression %></div>
	</script>

	<script type="text/javascript" src="underscore-1.8.3-min.js"></script>
	<script type="text/javascript" src="jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="backbone-1.2.3-min.js"></script>
	<script type="text/javascript" src="tuxmath.js"></script>
</body>